@font-face {
    font-family: Kepler;
    src: url(Kepler\ Std\ Medium.woff);
}
@font-face {
    font-family: KeplerItalic;
    src: url(Kepler\ Std\ Medium\ Italic.woff);
    font-kerning: auto;
}
@font-face {
    font-family: Gothique;
    src: url(FT88-Gothique.woff2);
}
@font-face {
    font-family: CinetypeMono;
    src: url(GT-Cinetype-Mono.woff2);
}
@font-face {
    font-family: Planar;
    src: url(GT-Planar-Italic-30-Black-Trial.woff2);
}
@font-face {
    font-family: Thunder;
    src: url(Thunder-ExtraLightLC.woff2);
}
@font-face {
    font-family: Karla;
    src: url(Karla-Regular.woff2);
}
@font-face {
    font-family: Atleigh;
    src: url(Atleigh-Display.woff2);
}
@font-face {
    font-family: Director;
    src: url(Director-Light.woff2);
}
@font-face {
    font-family: America;
    src: url(GT-America-Condensed-Light-Trial.woff2);
}
@font-face {
    font-family: AmericaThin;
    src: url(GT-America-Standard-Thin-Trial.woff2);
}
@font-face {
    font-family: Cinetype;
    src: url(GT-Cinetype-Light.woff2);
}
@font-face {
    font-family: Nohemi;
    src: url(Nohemi-ExtraLight.woff2);
}





h2 {
    /* font-family: KeplerItalic; */
    /* font-family: CinetypeMono; */
    font-family: Atleigh;
    /* font-family: Planar; */
    font-size: 3rem;

    position: sticky;
    margin-top: 3%;
}
p {
    padding-left: 2%;
    padding-right: 2%;

    line-height: 150%;
}
em {
    font-size: 1.3rem;
    /* color: darkslateblue; */
    /* background-color: darkorange; */
    /* background-color: orange; */
    background-color: darkseagreen;
}
.reading {
    font-size: .88rem;
}
.reading a {
    /* color: darkseagreen; */
    /* color: cadetblue; */
    /* color: steelblue; */
    /* color: deeppink; */
    /* color: #36454F; */
    color: rgb(228, 171, 26);
}
.hlc {
    background-color: rgb(228, 171, 26);
}



body {
    /* font-family: CinetypeMono; */
    /* font-family: Thunder; */
    /* font-family: Karla; */
    /* font-family: Kepler; */
    /* font-family: Director; */
    /* font-family: America; */
    /* font-family: AmericaThin; */
    font-family: Cinetype;
    /* font-family: Nohemi; */

    font-weight: 200;
    font-size: 1.2vw;
    /* margin: 0;  */
        /* Remove default body margin */
    display: flex; 
        /* Apply flexbox layout to the body */
    flex-direction: column; 
        /* Stack the .block divs vertically */
    align-items: center; 
        /* Center .block divs horizontally */
    justify-content: flex-start; 
        /* Keep them at the top of the body */
    /* height: 100vh;  */
        /* Ensure the body takes up the full viewport height */
}

.block {
    display: flex;
    justify-content: center; /* Center content inside each .block */
    width: 60%; /* Adjust width as needed */
    margin: 10px 0; /* Space between blocks (optional) */
    /* outline: 3px red solid; Uncomment to debug the layout */
}

ul {
  list-style-type: square;
}
ul li ul {
    list-style-type: circle;
}
ol ul {
    list-style-type: circle;
}


.left {

    flex: 1 2 0;
    /* outline: solid red 2px; */
}
.right {
    flex: 2 1 0;
    padding-left: 2%;
    /* outline: solid red 2px; */
}


table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
}
td, th {
    border: 2px solid darkseagreen;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    /* background-color: #dddddd; */
    /* border: 2px dotted darkseagreen !important;  */
    background-color: rgb(143, 188, 143, .3);
}
tr:nth-child(odd) {
    /* background-color: #dddddd; */
    /* border: 2px solid darkseagreen;  */
}




@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    .block {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center content inside each .block */
        width: 60%; /* Adjust width as needed */
        margin: 10px 0; /* Space between blocks (optional) */
        /* outline: 3px red solid; Uncomment to debug the layout */
    }

}
@media only screen and (min-width: 3500px) {
    .block {
        display: flex;
        justify-content: center; /* Center content inside each .block */
        width: 60%; /* Adjust width as needed */
        max-width: 1200px;
        margin: 10px 0; /* Space between blocks (optional) */
        /* outline: 3px red solid; Uncomment to debug the layout */
    }

}